@-webkit-keyframes arrowAni {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
  }
  51% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes arrowAni {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
  }
  51% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes foreGroundAni {
  0% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  1% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes foreGroundAni {
  0% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  1% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

img {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #3A3A1F;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  width: .3rem;
  background-color: transparent;
}

html ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: .5rem;
}

body {
  min-height: 150vh;
  position: relative;
}

.warningNoText {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: 200;
}

.title {
  text-transform: uppercase;
  font-weight: 400;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .8rem 1.4rem;
  border-radius: 2rem;
  border: 0.1rem solid #3A3A1F;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.btn .btn__content {
  text-transform: uppercase;
  padding-right: .2rem;
}

.btn .btn__animate1 {
  position: absolute;
  inset: 0;
  background-color: #3A3A1F;
  z-index: 1002;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn .btn__animate2 {
  opacity: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  inset: 0;
  padding: .8rem 1.4rem;
  z-index: 1003;
}

.btn .btn__animate2 span {
  color: #fff;
}

.btn .btn__animate2 span a {
  color: #fff;
}

.btn .btn__animate2 span polyline {
  stroke: white !important;
}

.btn:hover .arrow svg {
  -webkit-animation: arrowAni .4s linear;
          animation: arrowAni .4s linear;
}

.btn:hover .btn__animate1 {
  -webkit-animation: foreGroundAni .2s linear forwards;
          animation: foreGroundAni .2s linear forwards;
}

.btn:hover .btn__animate2 {
  opacity: 1;
}

.arrow {
  overflow: hidden;
  display: block;
}

.arrow svg {
  overflow: hidden;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.arrow:hover svg {
  -webkit-animation: arrowAni .4s linear;
          animation: arrowAni .4s linear;
}

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 998;
}

nav.navbar .line {
  border-bottom: 0.1rem solid grey;
}

.navbar .nav-list {
  padding: 2.5rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav-item {
  list-style-type: none;
  text-transform: uppercase;
  width: calc(100% / 7);
  letter-spacing: .05rem;
  font-weight: 600;
}

.nav-item span {
  position: relative;
  padding-bottom: .5rem;
}

.nav-item span::before {
  display: block;
  content: '';
  width: 0;
  height: .1rem;
  background-color: #3A3A1F;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav-item span:hover::before {
  width: 100%;
}

.nav-item span.selected::before {
  width: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo p {
  font-size: 1.3rem;
  line-height: 1;
  padding-left: .5rem;
  font-weight: 500;
}

.logo img {
  height: 2.6rem;
  width: 2.5rem;
}

.modal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.modal .modal__close-btn {
  border-radius: 50%;
  padding: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: none;
  cursor: pointer;
  z-index: 1005;
}

.modal .modal__close-btn:hover {
  background-color: #3A3A1F;
}

.modal .modal__close-btn:hover polyline {
  stroke: #fff !important;
}

.modal .layer {
  position: absolute;
  inset: 0;
  opacity: 0;
  background-color: #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.modal.show {
  z-index: 1000;
}

.modal.show .layer {
  opacity: 0.3;
}

.modal .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.3rem 2.5rem;
  padding-right: 2.5rem;
  border-right: 0.1rem solid #3A3A1F;
  z-index: 1005;
  background-color: #fff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.modal .sidebar.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal .sidebar .nav-list {
  padding-top: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.modal .sidebar .nav-list .nav-item {
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.5rem;
  min-height: 4rem;
}

.modal .sidebar .nav-list .nav-item span a {
  color: grey;
}

.modal .sidebar .nav-list .nav-item span.selected a {
  color: #3A3A1F;
}

.modal .modal-element {
  grid-column: span 2;
  padding: 2.3rem 2.5rem;
  border-right: 0.1rem solid #3A3A1F;
  background-color: #fff;
  position: relative;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.modal .modal-element:nth-child(3) {
  z-index: 1004;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.modal .modal-element:nth-child(4) {
  z-index: 1003;
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
}

.modal .modal-element:nth-child(5) {
  z-index: 1002;
  -webkit-transform: translateX(-400%);
          transform: translateX(-400%);
}

.modal .modal-element:nth-child(3), .modal .modal-element:nth-child(4), .modal .modal-element:nth-child(5) {
  opacity: 0;
}

.modal .modal-element.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal .modal-element .modal__navi * {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  font-weight: 600;
}

.modal .modal-element .modal__navi li {
  list-style-type: none;
  border-bottom: 0.1rem solid grey;
  border-top: 0.1rem solid grey;
  padding: 1rem 0;
  font-size: 1.5rem;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.modal .modal-element .modal__navi li a {
  display: block;
  color: grey;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.modal .modal-element .modal__navi li a > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modal-element .modal__navi li a .modal__navi__des {
  padding-right: 6rem;
}

.modal .modal-element .modal__navi li a div .modal__navi-item__title {
  font-weight: inherit;
  color: grey;
}

.modal .modal-element .modal__navi li a div .arrow {
  border-radius: 2rem;
  padding: 0 1rem;
  border: 0.1rem solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-element .modal__navi li a div .arrow polyline {
  stroke: grey;
}

.modal .modal-element .modal__navi li a div h4.title {
  color: grey;
  padding-top: 2rem;
  font-size: 1rem;
}

.modal .modal-element .modal__navi li a div p.description {
  font-size: 1.2rem;
  color: grey;
}

.modal .modal-element .modal__navi li:not(:first-child) {
  margin-top: -.1rem;
}

.modal .modal-element .modal__navi li:hover {
  border-top: 0.1rem solid #3A3A1F;
  border-bottom: 0.1rem solid #3A3A1F;
  color: #3A3A1F;
}

.modal .modal-element .modal__navi li:hover .arrow {
  background-color: #3A3A1F;
  border: none;
}

.modal .modal-element .modal__navi li:hover .arrow polyline {
  stroke: #fff !important;
}

.modal .modal-element .modal__navi li:hover + li {
  border-top: 0.1rem solid #3A3A1F;
}

.modal .modal-element .modal__navi li:hover a {
  color: #3A3A1F;
}

.modal .modal-element .modal__navi li:hover h4.title, .modal .modal-element .modal__navi li:hover p.description, .modal .modal-element .modal__navi li:hover h4.modal__navi-item__title {
  color: #3A3A1F;
}

.modal .modal-element header {
  padding-top: 6.5rem;
  padding-bottom: 6rem;
}

.modal .modal-element header .modal__title {
  font-size: 2rem;
  color: #3A3A1F;
  text-transform: capitalize;
}

.modal .modal-element:last-child {
  border-right: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modal-element:last-child > div {
  overflow: hidden;
}

.modal .modal-element:last-child img {
  width: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal .modal-element:last-child .modal__title {
  font-size: 2rem;
  font-weight: 400;
}

.modal .modal-element:last-child p.description {
  color: grey;
  padding: 3rem 0;
  font-size: 1.1rem;
}

.modal .modal-element:last-child .modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#products {
  padding-top: 7.7rem;
  padding-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  min-height: 100vh;
  z-index: 996;
  overflow: hidden;
}

#products .products-des {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  margin: 0 2.5rem;
  position: relative;
}

#products .products-des .products-des-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 8.8rem;
}

#products .products-des .title {
  font-size: 6.5rem;
}

#products .products-des button {
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 0.1rem solid #3A3A1F;
  border-color: grey;
  font-size: 1.2rem;
  padding: 1rem;
  text-transform: uppercase;
  color: grey;
  font-weight: 600;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#products .products-des button:hover {
  color: #3A3A1F;
}

#products .products-des button.active {
  color: #3A3A1F;
}

#products .products-des button:not(.first) {
  border-top: none;
}

#products .products-des button.product__clear-btn {
  padding: 2rem;
}

#products .products-des .dropDownBtn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#products .products-des .product-des-item__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#products .products-des .product-des-item__list {
  height: 0;
  overflow: hidden;
  border: none;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#products .products-des .product-des-item__list.active {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  height: auto;
  border: 0.1rem solid #3A3A1F;
  border-color: grey;
  border-top: none;
}

#products .products-des .product-des-item__list button {
  border: none;
  outline: none;
  text-align: left;
  color: grey;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

#products .products-des .product-des-item__list button:hover {
  color: #3A3A1F;
  cursor: pointer;
}

#products .products-des .product-des-item__list button.active {
  color: #3A3A1F;
}

#products .products-list {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  position: relative;
}

#products .products-list > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
  padding-right: 2.5rem;
}

#products .products-list > div .product-item {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
  border-bottom: 0.1rem solid grey;
  opacity: 1;
}

#products .products-list > div .product-item:hover {
  border-bottom: 0.1rem solid #3A3A1F;
}

#products .products-list > div .product-item .product-item__img {
  width: 48%;
  overflow: hidden;
}

#products .products-list > div .product-item .product-item__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#products .products-list > div .product-item .product-item__content {
  margin-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#products .products-list > div .product-item .product-item__content .title {
  font-size: 2rem;
  text-transform: capitalize;
}

#products .products-list > div .product-item .product-item__content .caption {
  color: grey;
  text-transform: uppercase;
}

#products .products-list > div .product-item .product-item__content div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
}

#products .products-list > div .product-item .product-item__content .des {
  color: grey;
  text-transform: uppercase;
}

footer {
  position: relative;
  background-color: #fff;
  z-index: 997;
  padding: 2.5rem 0;
  border-top: 0.1rem solid #3A3A1F;
}

footer .footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  gap: 2.5rem;
}

footer .footer-column {
  padding: 0 2.5rem;
  font-weight: 600;
}

footer .footer-column li {
  cursor: pointer;
}

footer .footer-column:nth-child(5), footer .footer-column:nth-child(6), footer .footer-column:nth-child(7), footer .footer-column:nth-child(8) {
  margin-top: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-column:nth-child(1), footer .footer-column:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

footer .footer-column:nth-child(2), footer .footer-column:nth-child(6) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

footer .footer-column:nth-child(3), footer .footer-column:nth-child(7) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
}

footer .footer-column:nth-child(4), footer .footer-column:nth-child(8) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer-column:first-child .logo {
  padding-bottom: 5rem;
}

footer .footer-column:first-child .logo img {
  width: 4rem;
  height: 4rem;
}

footer .footer-column:first-child form {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .footer-column:first-child form label {
  color: grey;
}

footer .footer-column:first-child form label, footer .footer-column:first-child form input {
  display: block;
  font-size: 1.2rem;
  border-bottom: 0.1rem solid #3A3A1F;
  padding: 1rem 0;
  padding-right: 3rem;
}

footer .footer-column:first-child form button {
  position: absolute;
  right: 0;
  bottom: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

footer .footer-column:first-child input {
  width: 100%;
  border: none;
  outline: none;
}

footer .footer-column:not(:first-child) {
  font-size: 1.2rem;
  line-height: 1.8;
}

footer .footer-column:not(:first-child) .title {
  font-size: 1rem;
  color: grey;
  padding-bottom: 1.5rem;
}

footer .footer-column:not(:first-child) ul {
  list-style-type: none;
}

footer .footer-column:not(:first-child) ul li {
  text-transform: capitalize;
  position: relative;
}

footer .footer-column:not(:first-child) ul li a:hover {
  border-bottom: 0.1rem solid #3A3A1F;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

footer .footer-column:not(:first-child) svg.lg-footer {
  padding-right: 1rem;
  margin-bottom: 2rem;
}
/*# sourceMappingURL=style.css.map */