$fontPrimary:'Open Sans', sans-serif;
$fontColor:#3A3A1F;
$fontColorOpacity:grey;
$foreGround: #3A3A1F;
$border--grey:.1rem solid $fontColorOpacity;
$border--black:.1rem solid $fontColor;
$products--title:8.8rem;
$product-tite-size: 2rem;
@keyframes arrowAni {
    0%{
        transform: translateX(0)
    }
    50%{
        transform:translateX(4rem);
    }
    51%{
        transform:translateX(-4rem);
    }
    // 60%{
    //     transform:translateX(-2rem);
    // }
    100%{
        transform:translateX(0);
    }
}
@keyframes foreGroundAni{
    0%{
        transform: translate(0 ,-100%);
        // opacity: 0;
    }
    1%{
        transform: translate(0 ,100%);
    }
    
    100%{
        transform:translate(0,0);
    }
}
@mixin transition($time) {
    transition: $time ease-out
}

// $transition($time):$time ease-out;